#!/usr/bin/make -f
DPKG_EXPORT_BUILDFLAGS = 1
-include /usr/share/dpkg/buildflags.mk

DEB_CFLAGS = $(CPPFLAGS) $(CFLAGS)
DEB_LDFLAGS = $(LDFLAGS) -Wl,--no-add-needed,--as-needed
DEB_VER = $(shell dpkg-parsechangelog | sed -n 's/^Version: //p')

%:
	dh $@
override_dh_auto_build:
	$(MAKE) CFLAGS='$(DEB_CFLAGS) -DDEBIAN_VERSION=\"$(DEB_VER)\"' LDFLAGS="$(DEB_LDFLAGS)"
override_dh_auto_install:
	mv nc nc.openbsd
	mv nc.1 nc_openbsd.1
	dh_auto_install
